HELP.md
.gradle
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

build
account-service/build
account-service/.gradle

LibraryService/build
LibraryService/.gradle

config-service/build
config-service/.gradle

gateway/build
gateway/.gradle

registry/build
registry/.gradle

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
